<app-menu></app-menu>

<div class="text-center">
    <div class="container">
        <h3 class="p_100">{{'mindly.add.new'|translate}}</h3>
        <form [formGroup]="inputForm" novalidate>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label class="label-text" for="dateLog"><span>dateLog</span>
                        <input type="date"
                               formControlName="dateLog"
                               name="dateLog"
                               class="form-control"
                               id="dateLog">
                    </label>
                </div>
                <div class="form-group col-md-1">
                    <label class="label-text" for="vrn"><span>vrn</span>
                        <input class="form-control"
                               name="vrn"
                               appFormControlValidationMsg
                               type="text"
                               validationMsgId="vrn"
                               required
                               formControlName="vrn"
                               id="vrn">
                    </label>
                </div>
                <div class="form-group col-md-2">
                    <label class="label-text" for="username"><span>username</span>
                        <input class="form-control"
                               name="username"
                               appFormControlValidationMsg
                               type="text"
                               validationMsgId="username"
                               required
                               formControlName="username"
                               id="username">
                    </label>
                </div>
                <div class="form-group col-md-1">
                    <label class="label-text" for="odometerBeginning"><span>odometerBeginning</span>
                        <input class="form-control"
                               name="odometerBeginning"
                               appFormControlValidationMsg
                               type="text"
                               validationMsgId="odometerBeginning"
                               required
                               formControlName="odometerBeginning"
                               id="odometerBeginning">
                    </label>
                </div>
                <div class="form-group col-md-1">
                    <label class="label-text" for="odometerEnd"><span>odometerEnd</span>
                        <input class="form-control"
                               name="odometerEnd"
                               appFormControlValidationMsg
                               type="text"
                               validationMsgId="odometerEnd"
                               required
                               formControlName="odometerEnd"
                               id="odometerEnd">
                    </label>
                </div>
                <div class="form-group col-md-2">
                    <label class="label-text" for="routeLog"><span>routeLog</span>
                        <input class="form-control"
                               name="routeLog"
                               appFormControlValidationMsg
                               type="text"
                               validationMsgId="routeLog"
                               required
                               formControlName="routeLog"
                               id="routeLog">
                    </label>
                </div>
                <div class="form-group col-md-2">
                    <label class="label-text" for="description"><span>description</span>
                        <input class="form-control"
                               name="description"
                               appFormControlValidationMsg
                               type="text"
                               validationMsgId="description"
                               required
                               formControlName="description"
                               id="description">
                    </label>
                </div>
            </div>
            <button (click)="onSubmit();" pButton label="Save" class="ui-button-raised" appFormSubmitValidationMsg
                    [validationControl]="inputForm"></button>
        </form>
    </div>
</div>

<div class="text-center p_100">
    <div class="container">
        <h2>{{'mindly.portfolio'|translate}}</h2>
        <table class=" text-center table table-bordered">
            <thead class="thead-light">
            <tr>
                <th scope="col">{{'mindly.cryptocurrency'|translate}}</th>
                <th scope="col">{{'mindly.amount'|translate}}</th>
                <th scope="col">{{'mindly.date'|translate}}</th>
                <th scope="col">{{'mindly.wallet.location'|translate}}</th>
                <th scope="col">{{'mindly.current'|translate}}</th>
                <th scope="col">{{'mindly.option'|translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let portfolioItem of portfolio;">
                <td>{{portfolioItem.cryptocurrency}}</td>
                <td>{{portfolioItem.amount}}</td>
                <td>{{portfolioItem.dateOfPurchase| date : "dd.MM.yy"}}</td>
                <td>{{portfolioItem.walletLocation}}</td>
                <td>{{portfolioItem.currentMarketValue}}
                </td>
                <td>
                    <button pButton type="button" label="Delete" class="ui-button-secondary"
                            (click)="confirm(portfolioItem)"></button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

<app-footer></app-footer>



