<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="container">
      <div class="row">
        <div class="intro-text">
          <span [innerHTML]="'start.page.greeting'|translate"></span>
          <p>Java Developer</p>
          <a pageScroll href="#about" class="btn btn-default btn-lg page-scroll">{{'start.page.button.more'|translate}}</a></div>
      </div>
    </div>
  </div>
</header>

<app-menu></app-menu>
<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      <h2>{{'start.page.about.me' | translate}}</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-12 text-center"><img src="assets/img/about.jpg" class="img-responsive"></div>
      <div class="col-md-8 col-md-offset-2">
        <div class="about-text">
          <p [innerHTML]="'start.page.about.description'|translate">
           </p>

          <p class="text-center"><a class="btn btn-primary" href="assets/img/CV Aleksei Gaile.pdf"
                                    target="_blank"><i class="fa fa-download"></i>Download Resume</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Blog Section -->

<div id="portfolio">
  <div class="container">
    <div class="section-title text-center center">
      <h2>{{'start.page.portfolio.portfolio'|translate}}</h2>
      <hr>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li><a href="#" data-filter="*" class="active">{{'start.page.portfolio.button.all'|translate}}</a></li>
            <li><a href="#" data-filter=".web">{{'start.page.portfolio.button.web'|translate}}</a></li>
            <li><a href="#" data-filter=".app">{{'start.page.portfolio.button.app'|translate}}</a></li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-4 col-lg-4 web">
          <div class="portfolio-item">
            <div class="hover-bg"><a href="assets/img/portfolio/01-large.jpg" title="Website creation"
                                     rel="prettyPhoto" >
              <div class="hover-text">
                <h4>Website creation</h4>
                <small>Web Design</small>
              </div>
              <img src="assets/img/portfolio/01-small.jpg" class="img-responsive" alt="Website creation">
            </a>
            </div>
          </div>
          <p class="text-center">{{'start.page.portfolio.description1'|translate}}
          </p>
          <p class="text-center"><a class="btn btn-port" href="https://ivkoolitus.ee/"
                                    target="_blank">{{'start.page.portfolio.button.goto'|translate}}</a></p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 web">
          <div class="portfolio-item">
            <div class="hover-bg"><a href="assets/img/portfolio/librarian.png"
                                     title="Librarian"
                                     rel="prettyPhoto">
              <div class="hover-text">
                <h4>Librarian</h4>
                <small>Web Development</small>
              </div>
              <img src="assets/img/portfolio/librarian-small.png" class="img-responsive"
                   alt="Librarian">
            </a>
            </div>
          </div>
          <p class="text-center">{{'start.page.portfolio.description2'|translate}}</p>
          <p class="text-center"><a class="btn btn-port" href="https://github.com/GaileAlex/librarian"
                                    target="_blank">{{'start.page.portfolio.button.view'|translate}}</a></p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 app">
          <div class="portfolio-item">
            <div class="hover-bg"><a href="assets/img/portfolio/05-large.jpg" title="Мини игра для дочки"
                                     rel="prettyPhoto">
              <div class="hover-text">
                <h4>Mini game for the daughter</h4>
                <small>App Development</small>
              </div>
              <img src="assets/img/portfolio/05-small.jpg" class="img-responsive"
                   alt="Mini game for the daughter"> </a>
            </div>
          </div>
          <p class="text-center">{{'start.page.portfolio.description3'|translate}}</p>
          <p class="text-center"><a class="btn btn-port" href="assets/img/Arithmetic.jar"
                                    target="_blank">{{'start.page.portfolio.button.download'|translate}}</a></p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 app">
          <div class="portfolio-item">
            <div class="hover-bg"><a href="assets/img/portfolio/06-large.jpg"
                                     title="ShopEmulation application"
                                     rel="prettyPhoto">
              <div class="hover-text">
                <h4>Shop Emulation</h4>
                <small>App Development</small>
              </div>
              <img src="assets/img/portfolio/06-small.jpg" class="img-responsive"
                   alt="ShopEmulation application">
            </a>
            </div>
          </div>
          <p class="text-center" [innerHTML]="'start.page.portfolio.description4'|translate"></p>
          <p class="text-center"><a class="btn btn-port" href="assets/img/ShopEmulation.zip"
                                    target="_blank">{{'start.page.portfolio.button.download'|translate}}</a></p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 web">
          <div class="portfolio-item">
            <div class="hover-bg"><a href="assets/img/portfolio/08-large.jpg" title="Website creation"
                                     rel="prettyPhoto">
              <div class="hover-text">
                <h4>Website creation</h4>
                <small>Web Design</small>
              </div>
              <img src="assets/img/portfolio/08-small.jpg" class="img-responsive" alt="Website creation">
            </a>
            </div>
          </div>
          <p class="text-center" [innerHTML]="'start.page.portfolio.description5'|translate">
          </p>
          <p class="text-center"><a class="btn btn-port" href="mindly/home"
                                    target="_blank">{{'start.page.portfolio.button.view'|translate}}</a></p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 app">
          <div class="portfolio-item">
            <div class="hover-bg"><a href="assets/img/portfolio/04-large.jpg" title="GoSwift"
                                     rel="prettyPhoto">
              <div class="hover-text">
                <h4>GoSwift</h4>
                <small>App Development</small>
              </div>
              <img src="assets/img/portfolio/04-small.jpg" class="img-responsive"
                   alt="GoSwift application"> </a>
            </div>
          </div>
          <p class="text-center" [innerHTML]="'start.page.portfolio.description6'|translate"></p>
          <p class="text-center"><a class="btn btn-port" href="assets/img/GoSwift.jar"
                                    target="_blank">{{'start.page.portfolio.button.download'|translate}}</a></p><br>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Resume Section -->
<div id="resume" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Experience</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li class="timeline">
            <div class="timeline-image">
              <h4>2016<br>
                - <br>
                2017 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>LLC «ALLIANCE»</h4>
                <h4 class="subheading">Web developer</h4>
              </div>
              <div class="timeline-body">
                <p class="text-left"><br>
                  - Sites markup.<br>
                  - Customer interaction.<br>
                </p>
                <br>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>2012 <br>
                - <br>
                2016 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>LLC "Impulse"</h4>
                <h4 class="subheading">Deputy Director</h4>
              </div>
              <div class="timeline-body">
                <p class="text-left"><br>
                  Construction company<br><br>
                  - Independently created a company website.<br>
                  - Created a network and electronic document management.<br>
                  - Increased the company's revenue more than four times.<br>
                  - Established relationships with suppliers.<br>
                  - Increased the number of regular customers.<br><br>
                </p>
              </div>
            </div>
          </li>
          <li class="timeline">
            <div class="timeline-image">
              <h4>2001<br>
                - <br>
                2012 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>ZAO "PSK "Rus"</h4>
                <h4 class="subheading">CEO</h4>
              </div>
              <div class="timeline-body">
                <p class="text-left"><br>
                  Construction company<br><br>
                  - Founded the company.<br>
                  - Assembled a talented team of professionals.<br>
                  - Established relationships with suppliers.<br>
                  - Collected a portfolio of orders.<br>
                  - Found large corporate clients.<br><br>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section-title center">
      <h2>Education</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">

          <!-- Education Section-->
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>2017 <br>
                - <br>
                2019 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Ida-Virumaa Kutsehariduskeskus</h4>
                <h4 class="subheading">Secondary education</h4>
              </div>
              <div class="timeline-body">
                <p>Software Developer.<br><br>
                  During my studies I studied the following technologies - HTML, CSS, MySQL,
                  PostgreSQL, Hibernate, Maven, JUnit, Java SE, JavaFX, Spring boot, Spring Security,
                  Thymeleaf, GitHub, Agile Methodologies.<br><br>

                  Developed:<br><br>

                  - Application for tracking live queues at the border. JavaFX, Jsoup (the program
                  parses the data from the site <a class="btn-link" href="https://www.estonianborder.eu"
                                                   target="blank">https://www.estonianborder.eu.</a>) -
                  <a class="btn-link" href="https://github.com/GaileAlex/GoSwift"
                     target="blank">https://github.com/GaileAlex/GoSwift.</a><br><br>

                  - The application emulates the store operation (test task found on the
                  Internet).JavaFx, MySQL - <a class="btn-link" href="https://github.com/GaileAlex/Shop-Emulation"
                                               target="blank">https://github.com/GaileAlex/Shop-Emulation</a><br><br>

                  Thesis:<br>
                  - CV website creation, the following technologies are used: HTML, CSS, Spring boot,
                  Spring Security, Thymeleaf, Hibernate, PostgreSQL, Maven. The site is hosted on its
                  own hosting managed by the Tomcat server.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <h4>2015 <br>
                - <br>
                2015 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Сourses</h4>
                <h4 class="subheading">"Training Center "Connesance"</h4>
              </div>
              <div class="timeline-body">
                <p>Estimated business in construction.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>2010 <br>
                - <br>
                2010 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Сourses</h4>
                <h4 class="subheading">"Status"</h4>
              </div>
              <div class="timeline-body">
                <p>Network administrator (Windows Server).</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <h4>1990 <br>
                - <br>
                1996 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Baltic State Technical University "Voenmeh" D.F.Ustinov</h4>
                <h4 class="subheading">Higher education</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Master's degree. Rocket Engine Mechanical Engineer.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


