/* Blog Section */
#portfolio {
  padding: 80px 0;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(49%, #f4f5f6), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #f4f5f6 49%, #ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
}

.categories {
  padding-bottom: 30px;
  text-align: center;
}

ul.cat li {
  display: inline-block;
}

ol.type li {
  display: inline-block;
  margin-left: 20px;
}

ol.type li a {
  background: #7bc3d1;
  color: #fff;
  padding: 6px 14px;
}

ol.type li a.active {
  background: #121d1f;
  color: #fff;
}

ol.type li a:hover {
  background: #121d1f;
  color: #fff;
}

.isotope-item {
  z-index: 2
}

.isotope-hidden.isotope-item {
  z-index: 1
}

.isotope, .isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope-item {
  margin-right: -1px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.isotope {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

.portfolio-item {
  margin: 15px 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.portfolio-item:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.portfolio-item .hover-bg {
  height: 260px;
  overflow: hidden;
  position: relative;
}

.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.66);
  padding: 33% 0 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}

.hover-bg .hover-text > h4 {
  opacity: 0;
  color: #fff;
  font-weight: 400;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
}

.hover-bg:hover .hover-text > h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.hover-bg .hover-text > i {
  opacity: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: all 0.3s;
}

.hover-bg:hover .hover-text > i {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.hover-bg:hover .hover-text {
  opacity: 1;
}

#portfolio i.fa {
  font-size: 20px;
  padding: 5px;
  color: #E87E04;
}

.section-title.center {
  padding: 25px 0 45px 0;

}

.section-title.descr {
  padding: 350px 0 250px 0;

}

.section-title.service {
  padding: 150px 0 250px 0;
}

.text-14{
  font-size: 14px;
}
