<!-- Header -->
<header id="header">
    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="intro-text">
                    <span [innerHTML]="'start.page.greeting'|translate"></span>
                    <p>Java Web Developer</p>
                    <a pageScroll href="#about"
                       class="btn btn-default btn-lg page-scroll btn-wiggle">{{'start.page.button.more'|translate}}</a>
                </div>
            </div>
        </div>
    </div>
</header>

<app-menu></app-menu>

<!-- About Section -->
<div id="about">
    <div class="container">
        <div class="section-title text-center center">
            <h2>{{'start.page.about.me' | translate}}</h2>
            <hr>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-12 text-center"><img src="assets/img/about.jpg" class="img-responsive"
                                                    alt="Java Developer">
            </div>
            <div class="col-md-8">
                <div class="about-text">
                    <p [innerHTML]="'start.page.about.description'|translate">
                    </p>
                    <p class="text-center"><a (click)="eventCv()" icon="fa fa-download" pButton label="Download Resume"
                                              class="ui-button-raised"
                                              href="assets/img/CV Aleksei Gaile.pdf"
                                              target="_blank"></a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Resume Section -->
<div id="resume" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>{{'start.page.experience.experience'|translate}}</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>2021<br>
                                - <br>
                                2021 </h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading text-left">
                                <span [innerHTML]="'start.page.experience.job-3'|translate"></span>
                            </div>
                            <div class="timeline-body">
                                <p class="text-left text-14"
                                   [innerHTML]="'start.page.experience.job-3.description'|translate"></p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline">
                        <div class="timeline-image">
                            <h4>2018<br>
                                - <br>
                                2021 </h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading text-left">
                                <span [innerHTML]="'start.page.experience.job-1'|translate"></span>
                            </div>
                            <div class="timeline-body">
                                <p class="text-left text-14"
                                   [innerHTML]="'start.page.experience.job-1.description'|translate"></p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>2012 <br>
                                - <br>
                                2017 </h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <span [innerHTML]="'start.page.experience.job-2'|translate"></span>
                            </div>
                            <div class="timeline-body">
                                <p class="text-left text-14"
                                   [innerHTML]="'start.page.experience.job-2.description'|translate"></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Education Section-->
<div id="education" class="text-center p_100">
    <div class="container">
        <div class="section-title center">
            <h2>{{'start.page.education.education'|translate}}</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <h4>2017 <br>
                                - <br>
                                2019 </h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <span [innerHTML]="'start.page.education.education-1'|translate"></span>
                            </div>
                            <div class="timeline-body text-14">
                                <p [innerHTML]="'start.page.education.education-1.description'|translate">
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>2010 <br>
                                - <br>
                                2010 </h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <span [innerHTML]="'start.page.education.education-3'|translate"></span>
                            </div>
                            <div class="timeline-body text-14">
                                <p [innerHTML]="'start.page.education.education-3.description'|translate"></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <h4>1990 <br>
                                - <br>
                                1996 </h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <span [innerHTML]="'start.page.education.education-4'|translate"></span>
                            </div>
                            <div class="timeline-body text-14">
                                <p [innerHTML]="'start.page.education.education-4.description'|translate"></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
