/cv.iml
/web-api/web-api.iml
/frontend/cv-frontend.iml
/services/services.iml
/persistence/persistence.iml
/frontend/cert.pem
/frontend/key.pem
/cv-data/
/etc/docker/cv_postgres/data/
/etc/docker/cv_dev/data/
/security/security.iml
/logs/
