/cv.iml
/web-api/web-api.iml
/frontend/cv-frontend.iml
/frontend/cert.pem
/frontend/key.pem
/services/services.iml
/persistence/persistence.iml
/security/security.iml
/.currency-logs/
/.idea/
/persistence/target/
/security/target/
/services/target/
/web-api/target/
/.access-logs/
/.error/
/frontend/target/
/.logs/
/web-api/src/main/resources/application.properties
/web-api/.logs/
/Dockerfile
/docker-compose.yml
/frontend/default.conf
/frontend/Dockerfile
/web-api/src/main/resources/proxy/
