<app-menu></app-menu>

<div class="text-center p_150_top">
    <div *ngFor="let blog of blogs " class="section-padding blog_main_area ">
        <div class="container">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <article class="post-single">
                    <figure class="post-media">
                        <img src="{{blog.image}}" alt="">
                    </figure>
                    <div class="post-body">
                        <div class="post-meta">
                            <div class="post-date">{{ blog.date | date:'dd.MM.yyyy' }}</div>
                        </div>
                        <h4 class="dark-color" [routerLink] = "['']"><a>{{ blog.headline }}</a></h4>
                        <a class="read-more" [routerLink] = "['']">View Article</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
