<app-menu></app-menu>

<div class="text-center p_150_top">
  <div class="section-padding blog_main_area ">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <article class="post-single">
            <figure class="post-media">
              <img src="@{'data:image/jpeg;base64,'+${images.get(item.getId())}}" alt="">
            </figure>
            <div class="post-body">
              <div class="post-meta">

                <div class="post-date" text="${#dates.format(item.getDate(), 'dd MMMM yyyy')}">01.02.2017</div>
              </div>

              <h4 class="dark-color"><a  href="@{/article-blog/{articleId}(articleId=${item.getId()})}" text="${item.getHeadline()}">Five ways to wear a shirt by Victoria Beckha</a></h4>

              <a href="@{/article-blog/{articleId}(articleId=${item.getId()})}" class="read-more">View Article</a>
            </div>
          </article>
        </div>

    </div>
  </div>
</div>

<app-footer></app-footer>
