@import '../../node_modules/primeicons/primeicons.css';
@import '../../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../../node_modules/primeng/resources/primeng.min.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";


body {
    font-family: 'Open Sans', sans-serif;
    height: 100% !important;
    width: 100% !important;
    min-width: 100vh;
    min-height: 100vh;
    -webkit-flex-direction: row !important;
    flex-direction: row !important;
    margin: 0;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 1.5;
    color: #263238;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-weight: 700;
}

h1 strong {
    font-weight: 900;
}

h2 {
    line-height: 20px;
    color: #121d1f;
    font-weight: 400;
    margin: 0 0 30px;
    font-size: 34px;
}

h3, h4 {
    color: #121d1f;
    font-size: 20px;
    font-weight: 600;
}

h5 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
}

p.intro {
    font-size: 16px;
    margin: 12px 0 0;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #333;
}

a:hover, a:focus {
    text-decoration: none;
    color: #7bc3d1;
}

ul, ol {
    list-style: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

ul, ol {
    padding: 0;
}

hr {
    height: 4px;
    width: 70px;
    text-align: center;
    position: relative;
    background: #007ad9;
    margin: 0 auto 30px;
    border: 0;
}


.navbar-custom {
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.96);
    border-radius: 0;
    padding: 10px 0;
    width: 100%;
    z-index: 9999;
}

.navbar-custom .navbar-brand {
    font-weight: 600;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: #f4f5f6;
}

.navbar-custom .nav li a {
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: #007ad9;
    background-color: transparent;
}

.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
    color: #007ad9;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255, 255, 255, .3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

.btn-default {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    padding: 10px 20px;
    margin: 0;
    font-size: 16px;
    border-radius: 0;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
    color: #fff;
    background-color: #121d1f;
    border-color: #121d1f;
}


.btn-primary i.fa {
    margin-right: 10px;
}

/* Delete Section */


/* About Section */
#about {
    padding: 100px 0;
    background: #f6f6f6;
}

#about-test {
    padding: 30px 0;
    background: #f6f6f6;
}

#about .about-text {
    margin-left: 10px;
    font-size: 14px;
}

#about img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: inline-block;
}

#about p {
    margin-top: 20px;
    margin-bottom: 30px;
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.percent {
    display: inline-block;
    font-size: 21px;
    color: #121d1f;
    line-height: 152px;
    z-index: 2;
}

.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
}

/* Resume Section */
#resume {
    padding: 100px 0;
    background: #f6f6f6;
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #eee;
}

.timeline > li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline > li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 70px;
    height: 70px;
    margin-left: 0;
    border: 1px solid #eee;
    border-radius: 100%;
    text-align: center;
    background: #fff;
}

.timeline > li .timeline-image h4 {
    margin-top: 20px;
    font-size: 14px;
    text-transform: uppercase;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline > li:last-child {
    margin-bottom: 40px;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.timeline .timeline-heading h2 {
    margin-top: 30px;
}

.timeline .timeline-body > p, .timeline .timeline-body > ul {
    margin-bottom: 0;
}

/* Contact Section */
#contact {
    padding: 100px 0 40px 0;
    color: #121d1f;
    background: #6AB4EC;
}

#web-form {
    padding: 100px 0 40px 0;
    color: #121d1f;
    background: #7bc3d1;
}

#contact h2 {
    color: #fff;
}

#contact hr {
    background: rgba(255, 255, 255, 0.3);
}

#contact h3 {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

#contact form {
    padding: 30px 0;
}

#contact i.fa {
    color: #121d1f;
    margin-bottom: 10px;
}

label {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    float: left;
}

#contact .form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: none;
    border: 0;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

#contact .form-control:focus {
    border-color: inherit;
    outline: 0;
    -webkit-box-shadow: transparent;
    box-shadow: transparent;
}

.form-control::-webkit-input-placeholder {
    color: #2c3e50;
}

.form-control:-moz-placeholder {
    color: #2c3e50;
}

.form-control::-moz-placeholder {
    color: #2c3e50;
}

.form-control:-ms-input-placeholder {
    color: #2c3e50;
}

#contact .social {
    margin-top: 60px;
}

#contact .social ul li {
    display: inline-block;
    margin: 0 20px;
}

#contact .social i.fa {
    font-size: 30px;
    padding: 4px 5px;
    color: #fff;
    transition: all 0.5s;
}

#contact .social i.fa:hover {
    color: #121d1f;
}

#contact .btn {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    padding: 10px 20px;
    color: #fff;
    margin-top: 15px;
}

#contact .btn:hover, #contact .btn:focus {
    background-color: #121d1f;
    border: 1px solid #121d1f;
}

.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
}

/* Footer Section*/
#footer {
    background: #000000;
    color: #7d8384;
    padding: 30px 0 25px 0;
}

#footer p {
    font-size: 13px;
}

#footer a {
    color: #a0a5a5;
}

#footer a:hover {
    color: #7bc3d1;
}

/* Media Queries */
@media screen and (max-height: 1280px) {

    .intro {
        display: table;
        width: 100%;
        height: auto;
        padding: 370px 0;
        text-align: center;
        color: #fff;
        background: #7bc3d1 url(../assets/img/intro-bg.jpg) no-repeat center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    .intro H1 {
        font-size: 60px;
        font-weight: 500;
        letter-spacing: -2px;
    }

    .intro .name {
        font-weight: 600;
    }

    .intro .intro-text {
        max-width: 75%;
    }

    .intro .intro-text p {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        margin-bottom: 40px;
        margin-top: 20px;
    }

    section {
        padding: 120px 0;
    }

    header .intro-text {
        text-align: center;
    }

    .timeline:before {
        left: 50%;
    }

    .timeline > li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline > li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline > li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline > li .timeline-image h4 {
        margin-top: 16px;
        line-height: 18px;
        font-weight: 400;
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media (min-width: 992px) {
    #here-me h1 {
        margin: 10px 0 0;
    }

    .timeline > li {
        min-height: 150px;
    }

    .timeline > li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline > li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline > li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 20px 20px;
    }
}

@media (min-width: 1200px) {
    .timeline > li {
        min-height: 170px;
    }

    .timeline > li .timeline-panel {
        padding: 10px 20px 20px 100px;
    }

    .timeline > li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline > li .timeline-image h4 {
        margin-top: 40px;
        font-weight: 400;
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 10px 100px 20px 20px;
    }
}

p.validationError {
    color: #ff6259;
}

div.validationError {
    color: #ff6259;
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.p_10_left{
    padding-left: 50px;
}

.p_20_bottom {
    padding-bottom: 20px;
}

.p_50 {
    padding-top: 50px;
}

.p_100 {
    padding-top: 100px;
}

.p_500_top {
    padding-top: 500px;
    padding-bottom: 500px;
}

.p_150_top {
    padding-top: 150px;
    padding-bottom: 150px;
}

.p_100_top {
    padding-top: 100px;
}


.blog_img .blog_date h4 {
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding-bottom: 5px;
}

.blog_img .blog_date h5 {
    font-size: 12px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.blog_text h4 {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #0b1033;
    padding-bottom: 5px;
}

.blog_text .blog_author a {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #7c8d93;
    margin-right: 20px;
    position: relative;
}

.blog_text .blog_author a:before {
    content: "|";
    position: absolute;
    right: -13px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #7c8d93;
}

.blog_text .blog_author a:last-child {
    margin-right: 0;
}

.blog_text .blog_author a:last-child:before {
    display: none;
}

.blog_text p {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 28px;
    color: #000000;
}

.blog_text p + p {
    padding-top: 30px;
}


.blog_author .media .d-flex {
    padding-right: 20px;
    align-self: center;
}

.blog_author .media .media-body h4 {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding-bottom: 25px;
}

.blog_author .media .media-body h4 span {
    color: #7c8d93;
}

.blog_author .media .media-body p {
    font-size: 15px;
    line-height: 28px;
    color: #7c8d93;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.blog_comment h3 {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #0b1033;
    padding-bottom: 80px;
    padding-top: 80px;
}

.blog_comment .media {
    margin-bottom: 35px;
}

.blog_comment .media .d-flex {
    display: block !important;
    padding: 0 0 0 25px;
    max-width: 144px;
    width: 100%;
}

.blog_comment .media .d-flex h4 {
    color: #0b1033;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: block;
    padding-bottom: 6px;
}

.blog_comment .media .d-flex h5 {
    color: #7c8d93;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12px;
    display: block;
}

.blog_comment .media .media-body {
    padding-left: 20px;
}

.blog_comment .media .media-body p {
    color: #7c8d93;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    padding-bottom: 15px;
}

.blog_comment .media .media-body a {
    color: #0b1033;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.blog_comment .media:last-child {
    margin-bottom: 0;
}

.blog_comment_form h3 {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #0b1033;
    padding: 75px 0 55px 0;
}

.blog_comment_form .contact_us_form .form-group input {
    height: 55px;
}

.blog_comment_form .contact_us_form .form-group:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
}

h4.validationError {
    color: #ff6259;
}

p.validationError {
    color: #ff6259;
}

div.validationError {
    color: #ff6259;
}

span.validationError {
    color: #ff6259;
}

.post-single:after {
    content: "";
    clear: both;
    display: table;
}

.post-single {
    padding: 30px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    width: 110%;
}

.single-post .post-single {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.single-post .post-single .post-media {
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
}

.post-single.sticky .post-media {
    width: 55%;
    float: left;
    margin-right: 60px;
}

.post-single .post-media {
    overflow: hidden;
    border-radius: 3px;
}

.post-single .post-media img {
    width: 100%;
    height: 180px;
}

.post-single .post-meta {
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-single .post-body .post-meta .post-tags {
    float: left;
}

.post-single .post-body .post-meta .post-date {
    float: right;
}

.post-single .post-body h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.post-single .post-body .read-more {
    margin-top: 10px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 14px;
    color: #768ede;
}

.post-single .post-body .read-more:after {
    margin-left: 5px;
}

.btn-wiggle {
    position: relative;
    display: inline-block;
    width: 358px;
    padding: 4px;
    z-index: 5;
    font-size: 20px;
    margin: 0 auto;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    margin-right: 10px;
    box-shadow: 2px 8px 0 rgba(0, 0, 0, 0.15);
    animation: wiggle 2.7s infinite;
    text-shadow: none;
}

/*SHAKER*/
@keyframes wiggle {
    2% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    4% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    6% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    8% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    10% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    12% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    14% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    16% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    18% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }
    20% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}





