<div class="modal-content">
  <form [formGroup]='formFilter'>

    <div class="container">
      <div class="row justify-content-start">
        <p class="col-4 text-center">Filtration conditions</p>
        <app-combo-box (formReady)="formInitialized('filterForm', $event)"></app-combo-box>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-start">
        <p class="col-4 text-center">Filters should</p>
        <div class="form-check form-check-inline">
          <input checked type="radio" name="condition" id="choice1" value="allConditions"
                 class="form-check-input"
                 formControlName="condition">
          <label class="form-check-label" for="choice1">All conditions</label>
        </div>

        <div class="form-check form-check-inline">
          <input type="radio" name="condition" id="choice2" value="atLeastOneCondition"
                 class="form-check-input"
                 formControlName="condition">
          <label class="form-check-label" for="choice2">At least one condition</label>
        </div>

      </div>
    </div>

    <div class="content-row">
      <div class="col-4"></div>
      <div class="col-4">
        <button class="box-soflow" (click)="onSubmit()">Apply filter</button>
        <button class="box-soflow" (click)="findAll()">All books</button>
        <button (click)="closeClick()" class="box-soflow">Close</button>
      </div>
    </div>

  </form>
</div>


<!--
<div class="col-md-8 container mt-5">
    <h2>Form Value</h2>
    <pre>
    {{formFilter.value | json}}

  </pre>
</div>
-->

