<app-menu></app-menu>
<div class="p_100"></div>
<div class="text-center">

  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-12">
        <h3><b>Welcome!</b></h3>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-12">
        <h3><b>Click the button and select a filter to search.</b></h3>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-12">
        <button pButton label="Search" class="ui-button-raised" (click)="openDialog()"></button>
      </div>
    </div>
  </div>

</div>
<div class="p_100"></div>
<app-footer></app-footer>
