
body{
  background: url('src/assets/img/intro-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:#fff;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  text-shadow: 6px 7px 9px #222, 2px 8px 0px rgba(0,0,0,0.15);
}
a{
  color:white;
}
.lea{
  text-align: center;
  display: block;
  position: relative;
  margin:80px auto;

}
.lea_404{
  font-size: 220px;
  position: relative;
  display: inline-block;
  z-index: 2;
  height: 250px;
  letter-spacing: 15px;
  font-weight:bold;

}
.lea_1{
  text-align:center;
  display:block;
  position:relative;
  letter-spacing: 12px;
  font-size: 4em;
  line-height: 80%;
}
.lea_2{
  text-align:center;
  display:block;
  position: relative;
  font-size: 30px;
}
.text{
  font-size: 70px;
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 19px 0px 0px 0px;
  /* top: 256.301px; */
  z-index: 3;
  width: 100%;
  line-height: 1.2em;
  display: inline-block;
}


.btn{
  position: relative;
  display: inline-block;
  width: 358px;
  padding: 4px;
  z-index: 5;
  font-size: 20px;
  margin:0 auto;
  color:#fff;
  border:2px solid #fff;
  text-decoration: none;
  margin-right: 10px;
  box-shadow:2px 8px 0px rgba(0,0,0,0.15);
  animation: wiggle 2.7s infinite;
  text-shadow:none;
}
/*SHAKER*/
@keyframes wiggle {
  2% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  4% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  6% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  8% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  10% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  12% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  14% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  16% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  18% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  20% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.right{
  float:right;
  width:60%;
}

hr{
  padding: 0;
  border: none;
  border-top: 5px solid #fff;
  color: #fff;
  text-align: center;
  margin: 0px auto;
  width: 420px;
  height:10px;
}

@media only screen and (max-width: 600px) {
  .lea_404 {
    font-size: 15rem;
    height: 188px;
  }
  .lea_1{
    font-size: 2em;
  }
  .btn {
    width: 90%;
    padding: 4px;
    font-size: 20px;
  }
  hr{
    width: 280px;
  }
}
.no-back{
  background: none!important;
}
