<app-menu></app-menu>

<div class="text-center p_100_top">
    <div class="container">
        <h3 class="p_20_bottom">High anonymity <code>SOCKS5</code> Proxy list for country: United States (US)</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">IP address</th>
                <th scope="col">Port</th>
                <th scope="col">Protocol</th>
                <th scope="col">Country</th>
                <th scope="col">Anonymity</th>
                <th scope="col">Speed</th>
                <th scope="col">Uptime</th>
                <th scope="col">Response</th>
                <th scope="col">Last checked</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let proxy of proxyList">
                <th scope="row">{{ proxy.ipAddress }}</th>
                <td>{{ proxy.port }}</td>
                <td>{{ proxy.protocol }}</td>
                <td>{{ proxy.country }}</td>
                <td>{{ proxy.anonymity }}</td>
                <td>{{ proxy.speed | number }}  kB/s</td>
                <td>{{ proxy.uptime | number }}  %</td>
                <td>{{ proxy.response | number }} ms</td>
                <td>{{ proxy.lastChecked | date : "HH:mm" }}</td>
            </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
            <mat-paginator [length]="total"
                           [pageSize]="pageSize"
                           (page)="changePage($event)">
            </mat-paginator>
        </div>
    </div>
</div>

<div class="p_100_top"></div>
<app-footer></app-footer>



