<div class="sticky-nav-wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom sticky-nav" ngStickyNav
         stickyClass="sticky-box-shadow">
        <div class="container">
      <span class="navbar-brand  nav-link navbar-header page-scroll">
        Aleksei Gaile
      </span>
            <button (click)="collapsed = !collapsed" [attr.aria-expanded]="!collapsed" aria-controls="navbarContent" aria-label="Toggle navigation"
                    class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div [class.collapse]="collapsed" class="navbar-collapse" id="navbarContent">
                <ul class="nav navbar-nav p_100_left">
                    <li class="hidden">
                        <a href="/"></a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['']" class="page-scroll nav-link" href="#about"
                           pageScroll>{{'menu.about' | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a
                                [routerLink]="['']" class="page-scroll nav-link" href="#resume"
                                pageScroll>{{'menu.experience' | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a
                                [routerLink]="['']" class="page-scroll nav-link" href="#education"
                                pageScroll>{{'menu.education' | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/blog']" class="page-scroll nav-link">{{'menu.blog' | translate}}</a>
                    </li>
                    <li class="nav-item dropdown" ngbDropdown>
                        <a class="nav-link" href="javascript:void(0)"
                           ngbDropdownToggle>{{'menu.spring.projects' | translate}}</a>
                        <div aria-labelledby="id01" class="dropdown-menu" ngbDropdownMenu>

                            <a [routerLink]="['/proxy-list']" class="hvr-underline-from-center dropdown-item"
                               style="color: #58c1ff; margin-bottom: 5px;">{{'menu.test.proxy' | translate}}</a>

                            <a [routerLink]="['/study-english']" class="hvr-underline-from-center dropdown-item"
                               style="color: #58c1ff; margin-bottom: 5px;">{{'menu.study.english' | translate}}</a>

                            <a [routerLink]="['/statistics']" class="hvr-underline-from-center dropdown-item"
                               style="color: #58c1ff; margin-bottom: 5px;">Visit statistics</a>

                            <a *ngIf="getUserRole()=='ROLE_ADMIN'" [routerLink]="['/chat']" class="hvr-underline-from-center dropdown-item"
                               style="color: #58c1ff; margin-bottom: 5px;">Chat</a>

                        </div>
                    </li>
                    <li class="nav-item">
                        <a
                                [pageScrollAdjustHash]="false" [pageScrollSpeed]="10"
                                class="page-scroll nav-link" href="#contact"
                                pageScroll>{{'menu.contact' | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a (click)="useLanguage('ru')" *ngIf="getLanguage()=='en'" [routerLink]=""
                           class="page-scroll nav-link"
                        >
                            <img alt="about-image" src="assets/img/rus.png">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a (click)="useLanguage('en')" *ngIf="getLanguage()=='ru'" [routerLink]=""
                           class="page-scroll nav-link"
                        >
                            <img alt="about-image" src="assets/img/eng.png">
                        </a>
                    </li>
                    <ul *ngIf="!isLoggedIn" class="nav navbar-nav">
                        <li class="nav-item">
                            <a [routerLink]="['/login']" class="page-scroll nav-link" data-toggle="modal"
                               role="button"
                            >Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['/registration']" class="page-scroll nav-link" data-toggle="modal"
                               role="button"
                            >Sign Up
                            </a>
                        </li>
                    </ul>

                    <ul *ngIf="isLoggedIn" class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link">{{ username }}</a>
                        </li>
                        <li class="nav-item">
                            <a (click)="logout()" class="nav-link" href>LogOut</a>
                        </li>
                    </ul>
                    <li *ngIf="getUserRole()=='ROLE_ADMIN'" class="nav-item dropdown" ngbDropdown>
                        <a
                                class="nav-link" href="javascript:void(0)"
                                ngbDropdownToggle>Admin menu</a>
                        <div aria-labelledby="id01" class="dropdown-menu" ngbDropdownMenu>
                            <a [routerLink]="['/blog-admin']"
                               class="hvr-underline-from-center dropdown-item"
                               style="color: #58c1ff; margin-bottom: 5px;">Admin panel</a>

                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>
