/* Underline Effect*/
.nav-item {
  position: relative;
}

.navbar-collapse ul li a.nav-link:before {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  content: '';
  opacity: 0;
  -ms-transition: opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -ms-transform: translateY(10px);
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

.navbar-collapse ul li:hover a.nav-link:before {
  opacity: 1;
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  bottom: 0px;
  background: #dd4343;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #dd4343;
}

.dropdown-menu {
  border: 0px;
}

/* General Styles*/
body {
  background-image: url(https://images.pexels.com/photos/373974/pexels-photo-373974.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
