.soflow {
    margin: 5px;
}

.box-text {
    border: solid 1px gray;
    height: 22px;
    margin: 5px;
    width: 210px;
}

.mat-button {
    margin: 5px;
    height: 32px;
    width: 32px;
    border-radius: 6px;
}

.day {
    max-width: 55px;
}

.month {
    max-width: 55px;
}

.year {
    max-width: 70px;
}

.name {
    height: 35px;
    max-width: 200px;
}
