.soflow {
    margin-right: 5px;
}

.box-text {
    border: solid 1px gray;
    height: 22px;
    margin: 5px;
    width: 210px;
}

.mat-button {
    margin: 5px;
    height: 35px;
    width: 35px;
    border-radius: 6px;
}

.day {
    max-width: 55px;
}

.month {
    max-width: 55px;
}

.year {
    max-width: 70px;
}

.name {
    height: 25px;
    max-width: 200px;
}

select {
    width: 100%;
    height: 50px;
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0;
    border: none;
    padding: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px;
}
/* For IE <= 11 */
select::-ms-expand {
    display: none;
}
