<app-menu></app-menu>
<div class="blog_main_area p_100 text-center">
    <div class="container">
        <div>
            <canvas baseChart

                    [datasets]="labelMFL"
                    [labels]="chartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"

                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>


    </div>
</div>
<app-footer></app-footer>
