<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="DEBUG" scan="true" scanPeriod="15 seconds">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <timestamp key="byDay" datePattern="yyyy-MM-dd"/>

    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.apache.hc.client5" level="WARN"/>
    <logger name="org.springframework.http.converter" level="ERROR"/>
    <logger name="org.springframework.web.context.request.async" level="OFF"/>
    <logger name="io.github.bonigarcia" level="WARN"/>
    <logger name="io.netty.handler.ssl.SslHandler" level="ERROR"/>
    <logger name="reactor.netty.http.client.HttpClientConnect" level="ERROR"/>
    <logger name="io.netty.handler.ssl.NotSslRecordException" level="OFF"/>
    <logger name="io.netty.handler.codec.DecoderException" level="ERROR"/>
    <logger name="reactor.netty.channel.FluxReceive" level="ERROR"/>
    <logger name="org.openqa.selenium.devtools.CdpVersionFinder" level="ERROR"/>
    <logger name="org.openqa.selenium.chromium.ChromiumDriver" level="ERROR"/>

    <property name="log.folder" value="./.logs"/>

    <appender name="ACCESS-ACCOUNTING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.folder}/access-logs/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>30</maxHistory>
            <fileNamePattern>.access-logs/access.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level User - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="ERROR-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.folder}/error/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>30</maxHistory>
            <fileNamePattern>.error/error.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level User - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="access-accounting-log" level="debug">
        <appender-ref ref="ACCESS-ACCOUNTING-FILE"/>
    </logger>

    <logger name="error-log" level="debug">
        <appender-ref ref="ERROR-FILE"/>
    </logger>

    <logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="OFF">
    </logger>

</Configuration>
