<app-menu></app-menu>
<div class="p_50"></div>

<div class="text-center">
    <div class="container" *ngIf="errorMessage !== ''">
        <div class="row mt-5">
            <div class="col-lg-6 offset-3">
                <h3 class="p_50 alert alert-danger"><b>{{errorMessage}}</b></h3>
            </div>
        </div>
    </div>

    <div class="container p_100_top" *ngIf="books!==undefined && books.length === 0">
        <div class="row mt-5">
            <div class="col-lg-12">
                <h3><b>{{'librarian.unfortunately'|translate}}</b></h3>
                <h3 class="p_50"><b>{{'librarian.no.result'|translate}}</b></h3>
            </div>
        </div>
    </div>

    <div *ngFor="let book of books" class="container">
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-12">
                    <h3><b>{{book.title}}</b></h3>
                    <h3><b>{{book.author}}</b></h3>
                    <h3><b>{{book.releaseDate| date : "yyyy"}}</b></h3>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-12">
                    <p class="text-block">{{book.bookText}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="p_50">
        <button pButton label="{{'librarian.back'|translate}}" class="ui-button-raised"
                [routerLink]="['/librarian']"></button>
    </div>
</div>

<div class="p_100"></div>
<app-footer></app-footer>



