<app-menu></app-menu>

<div class="d-flex justify-content-center align-items-center container p_150_top">
    <div class="row ">
        <form #f="ngForm"
              (ngSubmit)="f.form.valid && onSubmit()"
              *ngIf="!isSuccessful"
              name="form"
              novalidate>
            <div class="form-group">
                <img
                        class="profile-img-card offset-5"
                        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
            </div>
            <div class="form-group">
                <label class="control-label" for="inputUserName">Enter Username</label>
                <input #username="ngModel"
                       [(ngModel)]="form.username"
                       class="form-control"
                       id="inputUserName"
                       maxlength="20"
                       minlength="3"
                       name="username"
                       placeholder="Name"
                       required
                       type="text"
                />
                <div *ngIf="f.submitted && username.invalid" class="alert-danger">
                    <div *ngIf="username.errors.required">Username is required</div>
                    <div *ngIf="username.errors.minlength">
                        Username must be at least 3 characters
                    </div>
                    <div *ngIf="username.errors.maxlength">
                        Username must be at most 20 characters
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="inputEmail">Enter Email</label>
                <input #email="ngModel"
                       [(ngModel)]="form.email"
                       class="form-control"
                       email
                       id="inputEmail"
                       name="email"
                       placeholder="Email"
                       required
                       type="email"
                />
                <div *ngIf="f.submitted && email.invalid" class="alert-danger">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.email">
                        Email must be a valid email address
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="inputPassword">Enter Password</label>
                <input
                        #password="ngModel"
                        [(ngModel)]="form.password"
                        class="form-control"
                        id="inputPassword"
                        minlength="6"
                        name="password"
                        placeholder="Password"
                        required
                        type="password"
                />
                <div *ngIf="f.submitted && password.invalid" class="alert-danger">
                    <div *ngIf="password.errors.required">Password is required</div>
                    <div *ngIf="password.errors.minlength">
                        Password must be at least 6 characters
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="ui-button-raised" label="Sign Up" pButton></button>
            </div>
            <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-danger">
                Signup failed!<br/>{{ errorMessage }}
            </div>
        </form>
        <div class="p_150_top">
            <div *ngIf="isSuccessful" class="alert alert-success">
                Your registration is successful!
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>



