<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Contact</h2>
      <hr>
    </div>
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-3"><i class="fa fa-map-marker fa-2x"></i>
          <p>Estonia</p>
        </div>
        <div class="col col-lg-3"><i class="fa fa-envelope-o fa-2x"></i>
          <a href="mailto:aleksei.gaile@gmail.com"><p>aleksei.gaile@gmail.com</p></a>
        </div>
        <div class="col col-lg-3"><i class="fa fa-phone fa-2x"></i>
          <p> +372 5398 81 47</p>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="social">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-1"><a href="https://github.com/GaileAlex?tab=repositories" target="_blank"><i
          class="fa fa-github"></i></a></div>
        <div class="col-1 "><a href="https://www.linkedin.com/in/aleksei-gaile-62210a167/" target="_blank"><i
          class="fa fa-linkedin"></i></a></div>
      </div>
    </div>
  </div>

</div>
<div id="footer">
  <div class="container text-center">
    <div class="fnav">
      <p>Copyright &copy; 2019 Aleksei Gaile. Designed by <a href="https://www.gaile.ee" rel="nofollow">G@ile</a>
      </p>
    </div>
  </div>
</div>
