<!-- Contact Section -->
<div id="contact" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>Contact</h2>
            <hr>
        </div>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-3"><em class="fa fa-map-marker fa-2x"></em>
                    <p>Estonia</p>
                </div>
                <div class="col col-lg-3"><em class="fa fa-envelope-o fa-2x"></em>
                    <a href="mailto:aleksei.gaile@gmail.com"><p>aleksei.gaile@gmail.com</p></a>
                </div>
                <div class="col col-lg-3"><em class="fa fa-telegram fa-2x"></em>
                    <a href="https://t.me/AlekseiOrph" target="_blank"><p style="color: #0b1033">Telegram</p></a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="social">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-1"><a href="https://github.com/GaileAlex" target="_blank">
                    <em class="fa fa-github fa-2x"></em></a></div>
                <div class="col-1 "><a href="https://www.linkedin.com/in/aleksei-gaile/" target="_blank">
                    <em class="fa fa-linkedin fa-2x"></em></a></div>
            </div>
        </div>
    </div>

</div>
<div id="footer">
    <div class="container text-center">
        <div class="fnav">
            <p>Copyright &copy; 2019 Aleksei Gaile. Designed by <a href="https://gaile.asuscomm.com" rel="nofollow">G@ile</a>
            </p>
        </div>
    </div>
</div>
