<app-menu></app-menu>

<div *ngIf="!blogs" class="p_500_top"></div>
<div class="text-center p_100_top">
    <div *ngFor="let blog of blogs; let i = index" class="section-padding blog_main_area ">
        <div *ngIf="i % 2 == 0" class="container p_50">
            <div class="row justify-content-around">
                <div class="col-4">
                    <article class="post-single">
                        <figure class="post-media">
                            <img src="{{ blogs[i].image }}" alt="{{ blogs[i].headline }}">
                        </figure>
                        <div class="post-body">
                            <div class="post-meta">
                                <div class="post-date">{{ blogs[i].date | date:'dd.MM.yyyy' }}</div>
                            </div>
                            <h4 class="dark-color" [routerLink]="['/article', blogs[i].id]">
                                <a>{{ blogs[i].headline }}</a></h4>
                            <a class="read-more" [routerLink]="['/article', blogs[i].id]">
                                View Article</a>
                        </div>
                    </article>
                </div>
                <div *ngIf="i + 1 < blogs.length" class="col-4">
                    <article class="post-single">
                        <figure class="post-media">
                            <img src="{{ blogs[i+1].image }}" alt="{{ blogs[i+1].headline }}">
                        </figure>
                        <div class="post-body">
                            <div class="post-meta">
                                <div class="post-date">{{ blogs[i + 1].date | date:'dd.MM.yyyy' }}</div>
                            </div>
                            <h4 class="dark-color" [routerLink]="['/article', blogs[i+1].id]">
                                <a>{{ blogs[i + 1].headline }}</a></h4>
                            <a class="read-more" [routerLink]="['/article', blogs[i+1].id]">View Article</a>
                        </div>
                    </article>
                </div>

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

