th.mat-sort-header-sorted {
    color: black;
}

th.mat-header-cell {
    border: 1px solid #000000;
}

th {
    font-size: 17px;
}

td.mat-cell {
    border: 1px solid #000000;
}

td.mat-cell:first-child {
    border-left: 1px solid #000000;
}

table.table.table-striped {
    min-width: 500px !important;
    table-layout: fixed;
    overflow-wrap: break-word;
}


.backdrop-filter {
    filter: blur(12px);
}

