<app-menu></app-menu>

<div class="d-flex justify-content-center align-items-center container p_150_top">
    <div class="row ">
        <form *ngIf="!isLoggedIn"
              name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm"
              novalidate>
            <div class="form-group">
                <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card offset-5"/>
            </div>
            <div class="form-group">
                <label for="inputUserName" class="control-label">Enter Username:</label>
                <input type="text"
                       placeholder="Name"
                       class="form-control"
                       id="inputUserName"
                       name="username"
                       [(ngModel)]="form.username"
                       required
                       minlength="3"
                       maxlength="20"
                       #username="ngModel"
                />
                <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                    <div *ngIf="username.errors.required">Username is required</div>
                    <div *ngIf="username.errors.minlength">
                        Username must be at least 3 characters
                    </div>
                    <div *ngIf="username.errors.maxlength">
                        Username must be at most 20 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="control-label">Enter Password:</label>
                <input
                        type="password"
                        placeholder="Password"
                        class="form-control"
                        id="inputPassword"
                        name="password"
                        [(ngModel)]="form.password"
                        required
                        minlength="6"
                        #password="ngModel"
                />
                <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                    <div *ngIf="password.errors.required">Password is required</div>
                    <div *ngIf="password.errors.minlength">
                        Password must be at least 6 characters
                    </div>
                </div>
            </div>
            <div class="text-center form-group">
                <button pButton class="ui-button-raised" label="Login"></button>
            </div>
            <div class="form-group">
                <div class="alert alert-danger"
                     role="alert"
                     *ngIf="f.submitted && isLoginFailed">
                    Login failed: {{ errorMessage }}
                </div>
            </div>
        </form>
    </div>
</div>

<app-footer></app-footer>



