<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<div th:include="page-templates/header"></div>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
<div th:include="page-templates/menu"></div>


<div th:object="${portfolio}" class="text-center p_150">
    <div class="container">
        <h2>Add a new portfolio item</h2>
        <form method="POST" th:action="@{/mindly/add-portfolio-item}">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Choose cryptocurrency</th>
                    <th>Amount</th>
                    <th>Date of purchase</th>
                    <th>Wallet location</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <select th:field="*{cryptocurrency}" class="form-control">
                            <option value="Bitcoin">Bitcoin</option>
                            <option value="Ethereum">Ethereum</option>
                            <option value="Ripple">Ripple</option>
                        </select>
                    </td>
                    <td>
                        <input th:field="*{amount}" type="text" class="form-control" id="amount"/>
                        <span class="validationError"
                              th:if="${#fields.hasErrors('amount')}"
                              th:errors="*{amount}">Amount Error</span>
                    </td>
                    <td>
                        <input th:value="${#dates.format(date, 'yyyy-MM-dd')}" type="date" class="form-control"
                               id="dateOfPurchase" name="dateOfPurchase"
                        />
                    </td>
                    <td>
                        <input th:field="*{walletLocation}" type="text" class="form-control" id="walletLocation"/>
                        <span class="validationError"
                              th:if="${#fields.hasErrors('walletLocation')}"
                              th:errors="*{walletLocation}">Wallet location Error</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-port">Save</button>
        </form>
    </div>
</div>


<div th:if="!${#lists.isEmpty(getPortfolio)}" class="text-center">
    <div class="container">
        <h2>Portfolio</h2>
        <div th:if="!${#lists.isEmpty(mistake)}" class="text-center validationError">
            <p class="validationError" th:text="${mistake}"></p>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Cryptocurrency</th>
                <th class="text-center">Amount</th>
                <th class="text-center">Date of purchase</th>
                <th class="text-center">Wallet location</th>
                <th class="text-center">Current market value (EUR)</th>
                <th class="text-center">Option</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="item : ${getPortfolio}">
                <tr>
                    <td th:text="${item.cryptocurrency}"></td>
                    <td th:text="${item.amount}"></td>
                    <td th:text="${#dates.format(item.dateOfPurchase, 'dd.MM.yyyy')}"></td>
                    <td th:text="${item.walletLocation}"></td>
                    <td th:text="${#numbers.formatDecimal(currencyValue.get(item.cryptocurrency).multiply(item.amount),
                     1, 'WHITESPACE', 2, 'POINT')}">
                    </td>
                    <td><a th:href="@{'#modal'+${item.id}}" class="trigger-btn" data-toggle="modal">Delete</a>
                    </td>
                </tr>
                <!-- Modal HTML -->
                <div th:id="'modal'+${item.id}" class="modal fade">
                    <div class="modal-dialog modal-confirm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Are you sure?</h4>
                            </div>
                            <div class="modal-footer">
                                <form>
                                    <input type="hidden"/>
                                    <button type="button" class="btn btn-info pull-left" data-dismiss="modal">Cancel
                                    </button>
                                </form>
                                <form method="POST" th:action="@{/mindly/delete-item}">
                                    <input type="hidden" name="deleteItem" id="deleteItem" th:value="${item.id}"/>
                                    <button type="submit" class="btn btn-danger pull-right">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

<div class="section-title text-center center">
    <h4><a class="btn-link"
           href="https://github.com/GaileAlex/mindly"
           target="blank">Test task description can be found here</a></h4>
    <hr>
</div>


<!-- Contact Section -->
<div th:include="page-templates/footer" class="p_150_top"></div>

</body>
</html>
